:root {
  --custom-grey-color: rgb(237, 237, 237);
  --custom-grey-color-2: rgb(200, 200, 200);
  --custom-white-color: rgb(255, 255, 255);

  --left-panel-width: 300px;
}

.center-content {
  text-align: center;
}

.flex-container {
  display: flex;
}